<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../favicon.svg">
    <link rel="stylesheet" href="../style.css">
    <title>Blog App</title>
</head>
<body>
    <header>
        <h1>Sign Up</h1>
    </header>
    <div class="form_container">
    <form action="/views/signup" method="POST" class="add_form">
        <label for="firstname">Firstname: </label>
        <input type="text" id="firstname" name="firstname" class="signup_input" placeholder="Firstname" required>
        <br>
        <label for="lastname">Lastname: </label>
        <input type="text" id="lastname" name="lastname" class="signup_input" placeholder="Lastname" required>
        <br>
        <label for="email">Email: </label>
        <input type="email" id="email" name="email" class="signup_input" placeholder="Email" required>
        <br>
        <label for="password">Password: </label>
        <input type="password" id="password" name="password" class="signup_input" placeholder="Password" required>
        <br>
        <button type="submit" id="btn-block">Sign Up</button>
    </form>
    <p>Already have an account? <a href="/views/login">Log in</a></p>
    </div>
</body>
</html>