@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

.navbar {
    background: #131313;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    position: sticky;
    /* top: 0; */
    z-index: 999;

}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 15px 0 5px;
}

.navbar__logo {
    color: #fff;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
}

.navbar__logo svg {
    margin-right: 10px;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item {
    height: 80px;
}

.navbar__links {
    color: #fff;
    display: flex;
    width: 150px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%
}

.navbar__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 12px 36px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 5px;
    background: red;
    color: #fff;
}

.button:hover {
    color: red;
    transition: all 0.3s ease;
    background: #fff;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 30px;
    margin: auto 0;
    height: 62%;
    width: 15%;
    border: none;
    outline: none;
    border-radius: 9px;
    background: red;
    color: #fff;
}

.home:hover {
    color: red;
    transition: all 0.3s ease;
    background: #fff;
}

.navbar__links:hover {
    opacity: 0.7;
    transition: all 0.3s ease;
}

@media screen and (max-width: 960px) {
    .home {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        padding: 5px 15px;
        margin: auto 0;
        height: 60%;
        width: 20%;
        border: none;
        outline: none;
        border-radius: 9px;
        background: red;
        color: #fff;
    }

    .navbar__container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        margin: 0;
        padding: 0;


    }

    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        /* justify-content: center; */
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 0.5s ease;
        height: 60vh;
        z-index: -1;
        padding-top: 10px;
        background: #fff;
    }

    .top__bar {
        margin-top: -5.6%;
        background-color: #cdc7c7;
        position: relative;
        width: 100%;
        height: 50px;
        align-content: center;

    }

    #draw {
        bottom: 0;
        width: 0;
        height: 0;
        border-left: 35px solid transparent;
        border-bottom: 40px solid #eee;
        position: absolute;

        right: 0;
    }

    .navbar__menu.active {
        background: #eee;
        top: 100%;
        opacity: 1;
        transition: all 0.5 ease;
        z-index: 99;
        height: 50vh;
        font-size: 1.2rem;
        margin-top: 17px;
        width: 100%;

    }

    .navbar__logo {
        padding-left: 25px;
    }

    .navbar__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto 0 auto;
        transition: all 0.3s ease-in-out;
        background: #121212;
    }

    .navbar__item {
        width: 100%;
    }

    .navbar__links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
        color: #121212;

    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar__btn {
        padding-bottom: 2rem;
    }

    .button {
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        width: 200px;
        height: 60px;
        margin: 0;
        background: red;
        color: #fff;
        border-radius: 30px;

    }

    .navbar__toggle .bar {
        color: #121212;
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

@media screen and (max-width: 720px) {
    .navbar__menu.active {
        margin-top: 10px;
    }
}

@media screen and (max-width: 600px) {
    .navbar__container {
        padding-right: 3%;
    }

    .navbar__menu.active {
        margin-top: -3px;
    }
}

body {
    font-family: 'Poppins', sans-serif;
    background: #000;
    overflow-x: hidden;
}

header h1 {
    color: #fff;
    text-align: center;
    margin: 20px auto;
    align-items: center;
    font-size: 36px;
}

.form_container {
    border: 2px solid #000;
    border-radius: 20px;
    background: #121212;
    width: 50%;
    height: auto;
    margin: 30px auto;
    align-items: center;
    justify-content: center;
    padding: 10px 10%;
}

.add_form {
    margin: 20px auto;
    align-items: center;
}

label {
    color: #fff
}

.add_form input {
    border: 1px solid #fefefe;
    background: #13131313;
    padding: 6px;
    width: 100%;
    height: 40px;
    margin: 10px auto;
    color: #fefefe;
}

.add_form label {
    display: block;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 5px
}

.add_form input::placeholder {
    color: #feeeef;
}

#btn-block {
    background: #ccc;
    color: #000;
    display: block;
    width: 100%;
    height: 40px;
    margin: 10px 0;
    border-radius: 8px;
}

#btn-block:hover {
    background: #444;
    color: #eee;
}

.form_cotainer p {
    margin: 10px auto 20px auto;
}

p {
    color: #fff;
    margin-bottom: 20px;
}

p a {
    color: #87ceeb;
}

#car-link {
    color: #87ceeb
}

p a:hover {
    color: red;
}

#car-link:hover {
    color: #ff2400;
}

input::placeholder {
    color: #fefefe;
    opacity: 0.6;
}

h1 {
    color: #fff;
    text-align: center;
    margin: 20px auto;
    align-items: center;
    font-size: 36px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto;
    width: 65%;
}

header a {
    border: 1px solid red;
    padding: 15px 27px;
    color: white;
    text-decoration: none;
    background: red;
    border-radius: 10px;
}

header a:hover {
    background: white;
    color: red;
    border: 1px solid red
}

header p {
    font-size: 20px;
    font-weight: 600;
}

.main__container {
    padding: 0;
    margin: 0;
}

main {
    border: 2px solid #000;
    border-radius: 20px;
    background-color: #2f2e2e;
    width: 65%;
    height: auto;
    margin: 30px auto;
    align-items: center;
    justify-content: center;
    padding: 10px 5%;
}

main {
    color: #fff;
}

.main__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto;
    width: 100%;
}

.main-btn {
    border: 1px solid blue;
    padding: 15px 27px;
    color: white;
    text-decoration: none;
    background: blue;
    border-radius: 10px;
}

.main-btn:hover {
    background: white;
    color: blue;
    border: 1px solid blue
}

ul {
    list-style: none;
}

.order__list {
    width: 100%;

}

.order__list li {
    /* padding: 10px 5%;
   
    width: 100%;
    margin-bottom: 20px;
    background-color: #444;
    border-radius: 15px;
    border: 2px solid; */
    display: block;
}

.order__list li a {
    text-decoration: none;
    color: white;
    padding: 10px 5%;
    display: block;
    width: 100%;
    margin-bottom: 20px;
    background-color: #444;
    border-radius: 15px;
    border: 2px solid #444;
    font-size: 20px;

}

.order__list li a:hover {
    color: #444;
    background-color: #fff;
}

main p {
    margin-bottom: 0
}

.orderButton {
    display: inline-block;
    margin: 10px 10px 20px 0;
    padding: 12px 36px;
    border-radius: 9px;
    color: #fff;
    text-decoration: none;
}

.accept {
    background-color: green;
}

.decline {
    background-color: red;
}

.accept:hover {
    background-color: #fff;
    color: green;
}

.decline:hover {
    background-color: #fff;
    color: red;
}